openapi: 3.1.0
info:
  title: Modal Dicts and Queues Apps Files API
  description: 'Modal Dicts and Queues — distributed in-memory primitives for

    cross-container state. Dicts are key-value stores; Queues are FIFO

    message queues used to coordinate work across Modal functions and

    sandboxes.

    '
  version: 0.1.0
  contact:
    name: Modal Labs
    url: https://modal.com
servers:
- url: https://api.modal.com/v1
security:
- ModalToken: []
tags:
- name: Files
  description: Volume file operations.
paths:
  /volumes/{volume_name}/files:
    get:
      tags:
      - Files
      summary: List Volume Files
      description: List files under a path inside the volume.
      operationId: listVolumeFiles
      parameters:
      - name: volume_name
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        schema:
          type: string
          default: /
      responses:
        '200':
          description: A list of files.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VolumeFile'
    put:
      tags:
      - Files
      summary: Put Volume File
      description: Upload a file to the volume at the given path.
      operationId: putVolumeFile
      parameters:
      - name: volume_name
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: File uploaded.
    delete:
      tags:
      - Files
      summary: Remove Volume File
      description: Remove a file or directory from the volume.
      operationId: removeVolumeFile
      parameters:
      - name: volume_name
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: true
        schema:
          type: string
      - name: recursive
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: File removed.
components:
  schemas:
    VolumeFile:
      type: object
      properties:
        path:
          type: string
        size:
          type: integer
        is_dir:
          type: boolean
        modified_at:
          type: string
          format: date-time
  securitySchemes:
    ModalToken:
      type: http
      scheme: bearer
