openapi: 3.1.0
info:
  title: Modal and Queues Apps Dicts API
  description: 'Modal Dicts and Queues — distributed in-memory primitives for

    cross-container state. Dicts are key-value stores; Queues are FIFO

    message queues used to coordinate work across Modal functions and

    sandboxes.

    '
  version: 0.1.0
  contact:
    name: Modal Labs
    url: https://modal.com
servers:
- url: https://api.modal.com/v1
security:
- ModalToken: []
tags:
- name: Dicts
  description: Distributed key-value stores.
paths:
  /dicts:
    get:
      tags:
      - Dicts
      summary: List Dicts
      operationId: listDicts
      responses:
        '200':
          description: A list of dicts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dict'
    post:
      tags:
      - Dicts
      summary: Create Dict
      operationId: createDict
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Dict created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dict'
  /dicts/{dict_name}/entries/{key}:
    get:
      tags:
      - Dicts
      summary: Get Dict Entry
      operationId: getDictEntry
      parameters:
      - name: dict_name
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The entry value.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value: {}
        '404':
          description: Key not found.
    put:
      tags:
      - Dicts
      summary: Put Dict Entry
      operationId: putDictEntry
      parameters:
      - name: dict_name
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value: {}
      responses:
        '204':
          description: Entry stored.
    delete:
      tags:
      - Dicts
      summary: Delete Dict Entry
      operationId: deleteDictEntry
      parameters:
      - name: dict_name
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Entry deleted.
components:
  schemas:
    Dict:
      type: object
      properties:
        dict_id:
          type: string
        name:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    ModalToken:
      type: http
      scheme: bearer
