openapi: 3.1.0
info:
  title: Modal Dicts and Queues Apps Tokens API
  description: 'Modal Dicts and Queues — distributed in-memory primitives for

    cross-container state. Dicts are key-value stores; Queues are FIFO

    message queues used to coordinate work across Modal functions and

    sandboxes.

    '
  version: 0.1.0
  contact:
    name: Modal Labs
    url: https://modal.com
servers:
- url: https://api.modal.com/v1
security:
- ModalToken: []
tags:
- name: Tokens
  description: Modal API tokens.
paths:
  /tokens:
    get:
      tags:
      - Tokens
      summary: List Tokens
      operationId: listTokens
      responses:
        '200':
          description: A page of tokens.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Token'
    post:
      tags:
      - Tokens
      summary: Create Token
      description: 'Create a new Modal token id and secret. The plaintext secret is

        returned exactly once.

        '
      operationId: createToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Token created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenWithSecret'
  /tokens/{token_id}:
    delete:
      tags:
      - Tokens
      summary: Revoke Token
      operationId: revokeToken
      parameters:
      - name: token_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Token revoked.
components:
  schemas:
    Token:
      type: object
      properties:
        token_id:
          type: string
        name:
          type: string
        workspace_id:
          type: string
        created_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
    TokenWithSecret:
      allOf:
      - $ref: '#/components/schemas/Token'
      - type: object
        properties:
          token_secret:
            type: string
  securitySchemes:
    ModalToken:
      type: http
      scheme: bearer
