openapi: 3.1.0
info:
  title: Modal Dicts and Queues Apps Secrets API
  description: 'Modal Dicts and Queues — distributed in-memory primitives for

    cross-container state. Dicts are key-value stores; Queues are FIFO

    message queues used to coordinate work across Modal functions and

    sandboxes.

    '
  version: 0.1.0
  contact:
    name: Modal Labs
    url: https://modal.com
servers:
- url: https://api.modal.com/v1
security:
- ModalToken: []
tags:
- name: Secrets
  description: Encrypted environment-variable secrets.
paths:
  /secrets:
    get:
      tags:
      - Secrets
      summary: List Secrets
      operationId: listSecrets
      responses:
        '200':
          description: A page of secrets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Secret'
    post:
      tags:
      - Secrets
      summary: Create Secret
      operationId: createSecret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreate'
      responses:
        '201':
          description: Secret created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
  /secrets/{secret_name}:
    get:
      tags:
      - Secrets
      summary: Get Secret
      description: Get a Secret's metadata. Values are never returned.
      operationId: getSecret
      parameters:
      - name: secret_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Secret metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
    delete:
      tags:
      - Secrets
      summary: Delete Secret
      operationId: deleteSecret
      parameters:
      - name: secret_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Secret deleted.
components:
  schemas:
    SecretCreate:
      type: object
      required:
      - name
      - env
      properties:
        name:
          type: string
        environment:
          type: string
        env:
          type: object
          additionalProperties:
            type: string
    Secret:
      type: object
      properties:
        secret_id:
          type: string
        name:
          type: string
        environment:
          type: string
        created_at:
          type: string
          format: date-time
        keys:
          type: array
          items:
            type: string
  securitySchemes:
    ModalToken:
      type: http
      scheme: bearer
